@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

.head-animate-1{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(50px);
}

.text-animate-1{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(50px);
}

.button-animate-div-1 {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    margin: 0 auto;
    transform: translateY(10px);


}

